:root{
    --text-color1: #467F3B;
    --text-color2: white;
    --main-color: #C5FF95;
    --secondary-color: #0D9276;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    font-size: 16px;
    width: 100%;
    height: 100%;
}
#header{
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    color: var(--text-color);
}
#header-img{
    width: 10rem;
    height: 3rem;
    margin: 0.5rem;
    object-fit: cover;
}
#nav-bar{
    margin: 1rem;
}
a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 800;
    font-size: 1rem;
    padding: 0.5rem;
}
a:visited{
    color: var(--text-color);
}
main{
    margin-top: 5rem;
}
#Home{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    height: 30rem;
    padding-top: 5rem;
    margin: 2rem 0;
    place-items: center;
}
#Home img{
    width: 15rem;
    height: 25rem;
    object-fit: cover;
    padding: 2% 5%;
    margin: auto;
}
.features{
    grid-column: 2 / 3;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 1rem;
    row-gap: 1rem;
}
.feature{
    margin: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.text{
    grid-column: 2;
    grid-template-rows: 2fr 1fr;
    margin: auto 0;
    text-align: left;
}
i{
    font-size: 50px;
    margin: auto;
}
.heading{
    font-size: 1.5rem;
    font-weight: bold;
}
.details{
    font-size: 1rem;
}
.tagline{
    display: grid;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    padding: 0.5rem;
}
.number{
    font-size: 13rem;
    text-align: center;
}
.tag{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
h1{
    width: 100%;
    padding: 2rem;
    font-size: 2rem;
    color: var(--secondary-color);
    text-align: center;
}
#Products{
    padding-top: 5rem;
}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.product{
    display: grid;
    grid-template-rows: 0.1fr 3fr;
    justify-content: center;
}
.product img{
    width: 15rem;
    height: 20rem;
    object-fit: cover;
    margin: 0 2rem 2rem;
    border-radius: 1rem;
}
h3, h4{
    margin: 0.5rem auto;
    font-size: 1.5rem;
    color: var(--text-color1);
}
.colors{
    display: grid;
    grid-template-rows: 0.5fr 3fr;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 80%;
}
.colors-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--main-color);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--text-color1);
}
.color-name{
    display: flex;
    place-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1rem;
}
.color{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    margin: 0.25rem;
}
